In [9]:
connection = mysql.connector.connect(user='root', 
                                    passwd='mypass', 
                                    host= '127.0.0.1',
                                    port=3306,
                                    auth_plugin='mysql_native_password')

In [10]:
playerTable = pd.read_sql_query('SHOW TABLES FROM playerpersistance', connection)

In [11]:
playerTable

  Tables_in_playerpersistance
0         coloured_stage_data
1            user_player_data

In [12]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import matplotlib.ticker as ticker
%matplotlib inline

from scipy.stats import norm, gaussian_kde

In [13]:
playerEmail = '\'leronbergelson@gmail.com\''


players = 'SELECT (c.bluestagecompletiontime) as bluestagecompletiontime,\
                  (c.yellowstagecompletiontime) as yellowstagecompletiontime,\
                  (c.redstagecompletiontime) as redstagecompletiontime\
           FROM playerpersistance.coloured_stage_data c \
           WHERE c.Email = ' + playerEmail

In [14]:
df = pd.read_sql_query(players, connection)

In [15]:
df

   bluestagecompletiontime  yellowstagecompletiontime  redstagecompletiontime
0                       45                         54                      67
1                       41                         48                      57
2                       35                         40                      45
3                       32                         37                      42
4                       11                         17                      23
5                       14                         19                      14
6                       12                         21                      25
7                       15                         35                      31
8                       67                         40                     503